/* regole generali*/
* {
    margin: 0;
    padding: 0;
}
/* regole header */
header{ 
    background-image: url("../img/pattern.png");
    background-color: rgb(78, 170, 255);
}

#logo{width: 10%;
    padding-top: 30px;
padding-bottom: 20px; }

/* regole main */
section{padding-top: 10px;}

/* titolo e autore */
#booleaner{color: rgb(32, 169, 229);}
.grigio{color: rgb(146, 146, 146);}

/* foto e didascalie */
.didascalia{color: black; font-size: small;}

/* aritocolo principale */
ul{padding: revert}
p{padding-top: 10px;
padding-bottom: 10px;}

/* tabelle e risultati */
.evidenza{background-color: yellow;}
#tabella{text-align: left;}
tr td{padding-left: 10px;}
#tabella-intestazione{background-color: rgb(32, 169, 229); color: white; padding: 50px;}
.tabella-azzurra{background-color: rgb(177, 229, 242);}


/* articoli correlati */
h3{color: rgb(146, 146, 146);}
